.amps-main{
	padding:30px 20px;

	@include breakpoint(large){
		padding:80px 0 120px 0;
	}

	h1{
		font-family: $mont;
		font-weight: bold;
		font-size: rem-calc(32);
		text-transform: uppercase;
		padding-left: 6px;
		text-align: center;

		@include breakpoint(large){
			text-align: left;
		}
	}

	.amp-lg{
		@include breakpoint(large){
			padding-left:6px;
			margin-top:0;
		}
		margin-top:30px;

		.image-container{
			position: relative;
			margin:0 auto;

			@include breakpoint(large){
				display: inline-block;
			}
			@include breakpoint(medium){
				width: 588px;
			}

		}

		img{
			height: auto;
		}

		.amp-model-tag{
			background: $oblack;
			width:125px;
			text-align: center;
			color:$white;
			padding:rem-calc(6 0);
			position: absolute;
			bottom: 25px;
			@include breakpoint(large){
				width:188px;
				bottom: 72px;
			}

			p{
				margin-bottom: 0;
				font-family: $mont;
				font-size:rem-calc(19);
				text-transform: uppercase;
			}
		}

		.overlay{
			height: 100%;
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			visibility: hidden;
		    opacity: 0;
		    background:$oblack;
		    transition: all ease 0.8s;

		    img{
		    	height: 120px;
		    	width: 89px;
		    	position: absolute;
		    	top:40%;
		    	left:45%;
		    }
		}
		.image-container:hover .overlay{

			visibility: visible;
  			opacity: 1;
		}
	}
}

.amps-single{
	padding:0 10px;

	.amp-image{
		position: relative;
		margin-top:80px;

		.amp-tag{
			background: $oblack;
			width:200px;
			text-align: center;
			color:$white;
			padding:rem-calc(8 0);
			position: absolute;
			top: 72px;

			h1{
				margin-bottom: 0;
				font-family: $mont;
				font-size:rem-calc(22);
				text-transform: uppercase;
				line-height: rem-calc(22);
			}
		}
	}

	.amp-overview, .specs{
		margin: 25px 0 0 0;
		padding: 50px 30px;
		background: $putty;

		@include breakpoint(large){
			margin: 25px 0 80px 0;
		}

		h2{
			font-family: $mont;
			font-size:rem-calc(26);
			text-transform: uppercase;
		}
		p{
			font-size: rem-calc(15);
			text-align: justify;
		}
		ul{
			list-style: none;
			margin:0;
		}
		li{
			font-size:rem-calc(15);
		}
		.cab-specs{
			margin-top:40px;
		}
	}
	.amp-details-left{
		padding:0;

		@include breakpoint(large){
			padding-right: 10px;
		}
	}
	.amp-details-right{
		padding: 0;
		margin-bottom: 30px;

		@include breakpoint(large){
			padding-left: 10px;
			margin-bottom: 0;
		}
	}
}