//Single Post Styles
#single-post {
  @include grid-row();
  margin-top: 40px;

  @include breakpoint(medium){
    margin-bottom:80px;
    margin-top: 80px;
  }

  h1{
    font-family: $mont;
    font-size:rem-calc(38);
    line-height: rem-calc(40);
  }

  .main-content {
    padding-right: 40px !important;

    a{
      color:$red;
    }

    .news-featured-image{
      margin-bottom:40px;
    }

    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
        p{
          text-align: justify;
        }
    }
  }

}

//News Archive Page
.news-archive{
  margin-bottom: 60px;

  header{
    h2{
      font-family: $mont;
      font-size:rem-calc(38);
      line-height: rem-calc(40);
      margin-top:20px;

      a{
        color:$black;
        transition: all ease 0.3s;

        &:hover{
          color:$red;
        }
      }
    }
  }

  .read-more{
    color:$white;
    background: $black;
    padding:5px 10px;
    text-transform: uppercase;
    font-family: $mont;
    font-size:rem-calc(12);
    transition: all ease 0.3s;

    &:hover{
      background: $putty;
      color: $black;
    }
  }

  hr{
    border-bottom: 2px solid $black;
    margin:40px 0 30px 0;
  }
  hr:last-child{
    display: none;
  }
}

.author{
    a{
      color:$red;
      font-style: italic;
    }
  }