#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background: $black;

	#footer {
		@include grid-row();
		padding: rem-calc(30 0 60 0);

		@include breakpoint(small only){
			.footer-pipe{
				display: none;
			}
		}
		@include breakpoint(large){
			padding: rem-calc(24) 0;
		}

		p{
			margin-bottom: 0;
			color:$white;
			text-align: center;
			position: relative;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.gc-cs-link{
			color:$white;
			text-decoration: none;
		}
		.footer-email{
			color:$red;
			transition: all ease 0.3s;
			&:hover{
				color:$white;
			}
		}
		.footer-tw, .footer-fb{
			height:28px;
			width:28px;
			display: inline-block;
			background-size: cover !important;

			&:hover{
				background-position: 0 -28px;
			}
		}
		.footer-tw{
			background: url(../images/twitter.png) no-repeat;
			margin-left:5px;

			@include breakpoint(large){
				margin-left:76px;
				position: absolute;
			}
		}
		.footer-fb{
			background: url(../images/facebook.png) no-repeat;

			@include breakpoint(large){
				margin-left:40px;
				position: absolute;
			}
		}

		@include breakpoint(small only){
			.social-links{
				display: block;
				margin:0 auto;
				width: 66px;
				margin-top:10px;
			}
		}
		@include breakpoint(medium only){
			.social-links{
				display: block;
				margin:0 auto;
				width: 66px;
				margin-top:10px;
			}
		}
	}
}

//Newsletter Styles
.newsletter-signup{
	background: url(../images/amptexture.jpg) no-repeat center center;
	background-size: cover;
	padding:30px 0;

	@include breakpoint(large){
		padding:0;
	}

	.newsletter-form{
		position: relative;

		@include breakpoint(large){
			padding:37px 0 30px 0;
		}

		form{
			@include breakpoint(medium only){
				text-align: center;
			}
		}

		.gform_heading{
			@include breakpoint(large){
				display: inline-block;
			}
		}
		.gform_body, .gform_footer{
			display: inline-block;
		}
		.gform_heading{
			h3{
				color:$white;
				font-family: $mont;
				font-size:rem-calc(16);
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;

				@include breakpoint(large){
					text-align: left;
					margin:0;
				}
			}
		}
		.gform_body{

			input[type=email]{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				width:285px;
				margin:0;

				@include breakpoint(large){
					width:290px;
				}
			}
			ul{
				list-style: none;
				margin-bottom: 0;
			}
			.validation_message{
				color:$white;
				position: absolute;
				margin-top:3px;
			}
		}
		.gform_footer{

			input[type=submit]{
				background: $black;
				font-family: $mont;
				font-weight: bold;
				text-transform: uppercase;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				margin-top:13px;
				margin-left:rem-calc(-4.065);
				padding:rem-calc(11.5 12);

				&:hover{
					background: $dark-gray;
				}
			}
		}
		.validation_error{
			display: none;
		}
		.gform_confirmation_message{
			color:$white;
			margin-top:20px;
		}
	}

	.newsletter-description{
		@include breakpoint(large){
			padding:55px 0;
		}

		h3{
			color:$white;
			font-size: rem-calc(18);
			margin:0;
			text-align: center;

			@include breakpoint(large){
				text-align: left;
			}
		}
	}
}