.sidebar {
	background: $putty;
	padding:40px !important;
	padding-left:40px !important;
	padding-right: 40px !important;

	h6{
		font-family: $mont;
		text-transform: uppercase;
	}
	a{
		color:$red;
	}

  @include breakpoint(small) {
    @include grid-column(12);
    margin-top: 40px;
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 0;
  }
}
